asgiref>=3.7.0
django>=4.2,<5.0
django-jazzmin>=2.6.0
django-nested-admin>=4.0.0
gunicorn>=21.0.0
packaging>=23.0
pillow>=10.0.0
psycopg2-binary>=2.9.0
python-decouple>=3.8
sqlparse>=0.4.0
tzdata
whitenoise>=6.0.0
dj-database-url>=2.0.0